:root {
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 1.2em;
  line-height: 1.1;
}
.w-auto {
  width: auto !important;
}
.absolute-btn {
  position: absolute;
  top: 10px;
}

.rigth {
  right: 10px;
}
.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
